@model Animal
@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> UserManager
@{
    List<string> photopaths = new List<string>();
    photopaths.Add((Model.Foto1));
    if (Model.Foto2 != null) {
        photopaths.Add((Model.Foto2));
    }
    if (Model.Foto3 != null) {
        photopaths.Add((Model.Foto3));
    }
    var saude = Model.Saude.Split(",");
    var vacina = Model.Vacina.Split(",");
    ViewData["Title"] = Model.Nome;
}

@{
    ViewBag.Title = "Animal";
}

<div class="container">
    <h1 style="display: inline; margin-top: 10px;">@Model.Nome</h1>
    @if (Model.UsuarioId == UserManager.GetUserId(User) && !Model.Adotado) {
        <a class="topo btn btn-primary" asp-action="Edit" asp-controller="animal" asp-route-id="@Model.Id">
            <span class="glyphicon glyphicon-edit "></span>
            Editar Animal
        </a>
    }
</div>
<div class="animalarea">
    <div class="container">
        <div class="row" style="height: 613px;     margin-left: -189px;">
            <div class="col-lg-9 col-md-8">
                <div class="animal-foto">
                    <img class="animal-imga" id="foto_principal" src="@Model.Foto1" asp-append-version="true" />
                </div>
                <ul id="lista" class="list-inline animal-lista-foto">
                    @foreach (string foto in photopaths) {
                        <li>
                            <a onclick="changeImage(event)" href="">
                                <img src="@foto" asp-append-version="true" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="info-container">

            <h4 id="cadastro" class="">Cadastrado em: @Model.Data_Cadastro.ToString("dd/MM/yyyy")</h4>
            <div class="info-text">
                <h4>Sexo: @Model.Sexo |</h4>
                <h4>Porte: @Model.Porte</h4><br />
                <h4>Cidade: @Model.Usuario.Cidade.Nome</h4><br />
                <a id="doador" asp-action="details" asp-controller="account" asp-route-id="@Model.UsuarioId">
                    <h4>Doador: @Model.Usuario.Nome</h4>
                </a>
            </div>
            <div class="botoes">
                @if (Model.UsuarioId == UserManager.GetUserId(User) && !Model.Adotado) {
                    <a class="btn btn-primary" asp-action="Adopted" asp-controller="animal" asp-route-id="@Model.Id">
                        <span class="glyphicon glyphicon-heart "></span>
                        Confirmar Adoção
                    </a>
                } else if (Model.UsuarioId == UserManager.GetUserId(User) && Model.Adotado) {
                    <a class="btn btn-danger" asp-action="AvailableAgain" asp-controller="animal" asp-route-id="@Model.Id">
                        <span class="glyphicon glyphicon-heart "></span>
                        Cancelar Adoção
                    </a>
                } else if (Model.Adotado) {
                    <a class="btn btn-primary disabled">
                        <span class="glyphicon glyphicon-heart "></span>
                        Já adotado
                    </a>
                } else if (!Model.Adotado) {
                    <a class="btn btn-primary">
                        <span class="glyphicon glyphicon-heart "></span>
                        Tenho Interesse
                    </a>
                }
            </div>
            <div class="listas-saude">
                <div class="li-saude">
                    <h4>Saúde:</h4>
                    <ul>
                        @foreach (string s in saude) {

                            <li class="glyphicon glyphicon-check">@s</li>
                        }
                    </ul>
                </div>
                <div class="li-vacin">
                    <h4>Vacinas:</h4>
                    <ul>
                        @foreach (string v in vacina) {
                            <li class="glyphicon glyphicon-check">@v</li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    @if (Model.Obs != null) {
        <div class="obs-con">
            <h4>@Html.DisplayNameFor(model => model.Obs) de @Model.Nome</h4>
            <p>@Model.Obs</p>
        </div>
    }
    <div class="sob-con">
        <h4>Sobre @Model.Nome</h4>
        <p>@Model.Descricao</p>
    </div>
</div>

@section Scripts{
    <script>
        function myFunction(imgs) {
            event.preventDefault();
            var expandImg = document.getElementById("foto_principal");
            expandImg.src = imgs.src;
            expandImg.parentElement.style.display = "block";
        }
        function changeImage(event) {
            event = event || window.event;
            event.preventDefault();
            var targetElement = event.target || event.srcElement;
            document.getElementById("foto_principal").src = targetElement.getAttribute("src");
        }
    </script>
}