@model IEnumerable<Animal>
@inject TCC.Services.CidadeService _cidade

@{
    ViewData["Title"] = "Index";
}

@{
    ViewBag.Title = "Animais";
}

<ul class="list-inline listaAnimais">
    @foreach (var animal in Model) {
        //var photoPath = " ~/images/" + (animal.Foto1 ?? "noimage.jpg");        
        <li>
            <a asp-controller="Animal" asp-action="Details" asp-route-id="@animal.Id">
            <div class="image">
                <img class="img-rounded" src="@animal.Foto1" asp-append-version="true" />
            </div>
            <div class="info">
                <h3>@animal.Nome</h3>
                <p>@animal.Cidade.Nome | @animal.Sexo</p><br />
                <p class="doadorNome">Doador: @animal.Usuario.Nome</p>
            </div>
            </a>
        </li>
    }
</ul>