@model TCC.Models.ViewModels.AnimalFilteringViewModel
@inject TCC.Services.CidadeService _cidade

@{
    ViewData["Title"] = "Index";
}

@{
    ViewBag.Title = "Animais";
}
<form method="get">
    <div class="container">
        <p>Nome do amiguinho:</p>
        <input asp-for="Nome" class="form-control" />


        <p>Espécie:</p>
        <select class="form-control" asp-for="Especie">
            <option selected value="">---Nenhum--</option>
            <option value="Cachorro">Cachorro</option>
            <option value="Gato">Gato</option>
        </select>

        <p>Porte</p>
        <select asp-for="Porte" class="form-control">
            <option selected value="">---Nenhum--</option>
            <option value="Pequeno">Pequeno</option>
            <option value="Médio">Médio</option>
            <option value="Grande">Grande</option>
        </select>
        <p>Disponibilidade</p>
        <select asp-for="Disponibilidade" class="form-control">
            <option selected value="disponível">Disponível</option>
            <option value="adotado">Adotado</option>
        </select>
        <div class="form-group">
            <p>Cidade</p>
            @Html.DropDownListFor(m => m.CidadeId, new SelectList(Model.Cidades, "Id", "Nome"), "--Selecione a Cidade--", new { @class = "form-control" })
            <span asp-validation-for="CidadeId" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Buscar" />
    </div>
</form>
@if(Model.Animals.Any()) {
<ul class="listaAnimais list-inline ">
    @foreach (var animal in Model.Animals) {
        <li>
            <a asp-controller="Animal" asp-action="Details" asp-route-id="@animal.Id">
                <div class="image">
                    <img class="img-rounded" src="@animal.Foto1" asp-append-version="true" />
                </div>
                <div class="info">
                    <h3>@animal.Nome</h3>
                    <div class="linha"></div>
                    @if (animal.Adotado) {
                        <p class="disponibilidade text-danger">ADOTADO</p>
                    } else {
                        <p class="disponibilidade text-success">DISPONÍVEL</p>
                    }
                    <p>@animal.Cidade.Nome | @animal.Sexo</p><br />
                    <p class="doadorNome">Doador: @animal.Usuario.Nome</p>
                </div>
            </a>
        </li>
    }
</ul>
} else {
    <h2 class="text-danger">Sem Resultados!</h2>
}
