@model TCC.Models.ViewModels.UsuarioDetailsViewModel
@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"] </h2>
<h3>Usuário</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Cidade.Nome)
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Moradia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Moradia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Protecao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Protecao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.QtAnimais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.QtAnimais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Bio)
        </dd>
        <dt>
            Animais Cadastrados:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimaisCadastrados)
        </dd>
        <dt>
            Animais Adotados:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimaisCadastradosAdotados)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="index" asp-controller="animal" class="btn btn-danger">Retornar para a lista de animais</a>
</div>